<div id="hotest" class="row">
    <div class="col-md-4">
        <div class="w3-row-padding w3-round-xlarge w3-light-gray" style="margin-left:10px;">
            <h2> Top hotest lecture article: </h2>
            <% for(var index in sorted_click){ %>
                <div class="w3-round-large w3-khaki">
                    <h3><b> <%= sorted_click[index].dep %> </b> </h3>
                    <hr>
                    <h4><b> <%= sorted_click[index].lecturer %> </b> - <%= sorted_click[index].title %> </h4>
                    <img src="http://i.imgur.com/RTx4hLq.jpg" alt="Norway" onclick="" style="width:100%" class="w3-hover-opacity">
                </div>
                <br>
            <% } %>
        </div>
    </div>
    <div class="col-md-8">
        <div class="w3-row-padding w3-round-xlarge w3-light-gray" style="margin-right:10px;">
            <h2> Top hotest video article: </h2>
            <div class="w3-center">
                <iframe src="<%= hotest_video %>" frameborder="0" allowfullscreen style="margin:20px;width:90%;height:80%"></iframe>
            </div>
        </div>
    </div>
</div>
