<html>
<head>
    <!-- Template -->
    <% include ../elements/meta %>
    <% include ../elements/lib %>
    <!-- custom css -->
    <link rel="stylesheet" href="/about.css"/>
</head>
<header>
    <!-- Navbar goes here -->
    <% include ../elements/navbar_template %>
</header>
<body>
    <!-- About the team -->
    <% include ../elements/team %>
</body>
</html>
