<html>
<head>
    <!-- Template -->
    <% include ../elements/meta %>
    <% include ../elements/lib %>
</head>
<header>
    <!-- Navbar goes here -->
    <% include ../elements/navbar_template %>
</header>
<body>
    <% if(page_type == "new_article"){ %>
        <% include ../elements/new_article %>
    <% } else if(page_type == "modify_article") { %>
        <% include ../elements/modify_article %>
    <% } %>
</body>
<script>
function fillDep(depname){
    document.getElementById('dep').value = depname;
}
</script>
</html>
