<html>
<head>
    <!-- Template -->
    <% include ../elements/meta %>
    <% include ../elements/lib %>
</head>
<header>
    <!-- Navbar goes here -->
    <% include ../elements/navbar_template %>
</header>
<body>

</body>

</html>
