<html>
<head>
    <!-- Template -->
    <% include ../elements/meta %>
    <% include ../elements/lib %>
    <!-- custom css -->
    <link rel="stylesheet" href="/index.css"/>
</head>
<header>
    <!-- Navbar goes here -->
    <% include ../elements/navbar_template %>
</header>
<body>
    <!-- Landing page - Carousel -->
    <% include ../elements/landing %>
    <!-- Debug : show the raw ranking of article -->
    <br>
    <% include ../elements/index_hotest %>
</body>
</html>
